.details__list {
    max-width: 842px;
    margin: 0 auto;
    padding-bottom: 96px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: none;
}


@media screen and (max-width: 768px) {
    .details__list {
        max-width: 360px;
    }
}

@media screen and (max-width: 628px) {
    .details__list {
        max-width: 250px;
    }
}