.testimonials {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
   
}




@media screen and (max-width: 768px) {
    .testimonials {
        min-height: 340px;
    }
}

@media screen and (max-width: 675px) {
    .testimonials::before {
        display: none;
    }
}