.main__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #232536;
    max-width: 624px;
    margin: 0 auto 24px;
    /* text-align: center; */
}

/* @media screen and (max-width: 1024px) {
    .main__title {
        max-width: 250px;
    }
} */

@media screen and (max-width: 768px) {
    .main__title {
        font-size: 30px;
        line-height: 40px;
    }
}