.footer__logo {
    margin: 0 94px 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #232536;
}

@media screen and (max-width: 628px) {
    .footer__logo {
        margin: 0
    }
}