.details__heading_active {
    color: #454DFD;
    border-bottom: 3px solid #454DFD;
}

/* .details__heading_active::after {
    content: "";
    width: 80px;
    border: 3px solid #454DFD;
    position: absolute;
    bottom: -30px;
    left: 0;
}

@media screen and (max-width: 768px) {
    .details__heading_active::after {
        width: 50px;
        left: 0px;
        bottom: -18px;
    }
} */


/* @media screen and (max-width: 675px) {
    .details__heading_active::after {
        width: 50px;
        left: 0px;
        bottom: -18px;
    }
} */