.popup__button {
    width: 40px;
    height: 40px;
    background-color: rgba(45, 41, 52, 1);
    border: none;
    background-image: url(../../../images/button__Close.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 50px;
    top: 45px;
}


@media screen and (max-width: 628px) {
    .popup__button {
        width: 30px;
        height: 30px;
        right: 30px;
        top: 55px;
    }
}