.section__testimonials {
    background-color: #F9F9FF;
    padding: 100px 0 140px 0;
    background-image: url(../../../images/testimonials__shapes-before.png);
    background-repeat: no-repeat;
    background-position: 404px 100px;
}

/* @media screen and (max-width: 1366px) {
    .section__testimonials {
        background-position: 366px 100px;
    }
}

@media screen and (max-width: 1024px) {
    .section__testimonials {
        background-position: 195px 100px;
    }
}

@media screen and (max-width: 768px) {
    .section__testimonials {
        background-position: 105px 100px;
    }
} */