
.details__container {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1366px) {
    .details__container {
        max-width: 900px;
    }
}


@media screen and (max-width: 1024px) {
    .details__container {
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .details__container {
        max-width: 525px;
    }
}


@media screen and (max-width: 628px) {
    .details__container {
        max-width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .details__container {
        max-width: 340px;
    }
}