.footer__item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 160px;
    justify-content: space-between;
}



@media screen and (max-width: 675px) {
    .footer__item {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
}